html,
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
input{
  line-height: normal;
}
label,
button{
  cursor: pointer;
}
a{
  text-decoration: none;
}

body{
  font-family: "Poppins", sans-serif;
  background-image: url(https://th.bing.com/th/id/R.de475f544a92347561aebffd23110d1d?rik=dviOmjMkjbPvgg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2ff%2f6%2f571901.jpg&ehk=YarQghfTyR%2boYEKzC5oemhVHsV7MSp8A%2fBoOlM4PlGc%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  height: 100vh;
}

.music{
  max-width: 500px;
  margin: 20px auto 20px auto;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  padding: 15px 15px 30px;
}

.music-thumb{
  width: 100px;
  height: 100px;
  margin: 0 auto 25px;
}

.music-thumb img{
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.music-name{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.timer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #999;
  margin-bottom: 40px;
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px; 
}

.play{
  position: relative;
}

.play::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient( to right bottom, #ff6bcb, #ffc86c);;
  transform: scale(1.25);
  border-radius: 100rem;
}
.play-inner{
  width: 45px;
  height: 45px;
  border-radius: 100rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.play-back,
.play-forward{
  cursor: pointer;
}

.range{
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  margin-bottom: 20px;
}

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background-color: #eeee;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #20e3b2;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  margin-top: -5.5px;
  box-shadow: 0 0 0 3px rgb(255, 255, 255), 0 0 0 6px rgba(100, 100, 111, 0.05);
}